<a href="https://colab.research.google.com/github/GuilhermeEvCosta/Documentacao_Python_BD/blob/main/Documentacao_Python_BD.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Introdução | Sumário

**Documentação com as principais funções/métodos para estrutura de dados utilizando a linguagem Python, voltados ao estudo de Banco de Dados.**
>

- *Seção 1*: Instalação de bibliotecas.

- *Seção 2*: Importando Data Frame, validando dados baixados.

- *Seção 3*: Tratando N.A's.

- *Seção 4*: Filtrar/Selecionar dados.

- *Seção 5*: Definindo novo Df e excluindo duplicadas.

- *Seção 6*: Substituindo dados e alterando tipos de objeto.

- *Seção 7*: Importando e exportando dados.

- *Seção 8*: Teoria dos conjuntos, tipos de combinação.


>

>




>
*>Seção 1*

1)**Arrow:** Biblioteca para utilização de data e hora.

2)**Pandas:** Permite que você organize, explore, represente e manipule dados com facilidade.

3)**Numpy:** Biblioteca para a linguagem Python com funções para se trabalhar com computação numérica.

4)**OpenPyXl:** Biblioteca Python de código aberto que permite manipular arquivos do Excel de forma programática.

>
>
*>Seção 2*

1)**Criando DataFrame:** Importando dados.

2)**Info:** Tipo das colunas do Df(Inteiro,Objeto..).

3)**Head:** Print das primeiras informações.

4)**Sample:** Amostra das informações presentes na Df.

5)**Shape:** Disposição de (Linhas, Colunas) presentes no Df.

6)**Describe (Campo Count):** Validação do número de informações por coluna.
>
>
*>Seção 3*

1)**Is N/A:** Identificação de N/A dentro do Df.

2)**Not N/A:** Filtrando valores, deixando de fora os campos N/A.

3)**Tratando Df:** Estabelecendo um novo Df sem os valores N/A.
>
>
*>Seção 4*

1)**Loc:** Busca de item por posição/filtro de uma informação.

2)**Filtro:** Filtro de um item dentro de uma coluna.

3)**Value Counts:** Quantidade de vezes que uma informação esta presente em uma determinada coluna.
>
>
*>Seção 5*

1)**Estruturando Df:**  Estruturando Df com novo parâmetro.

2)**Unique:** Retorna a quantid. de vezes que o elemento teve ao menos uma ocorrência.

3)**Drop Duplicates:** Remoção de duplicadas.
>
>
*>Seção 6*

1)**DTypes:** Identificação do tipo das colunas (Objeto, Inteiro...).

2)**AsType:** Conversão dos tipos das colunas.

3)**Replace/(tipo coluna)rstrip:** Substituindo dados de uma coluna.

  3.1)**Replace:** Substitui objetos.

  3.2)**RsTrip:** Exclui objetos.

4)**Drop:** Excluindo linhas.
>
>
*>Seção 7*

1)**Join:** Unir cada string da lista, colocando uma informação entre elas.

2)**Concat:** Combinar dois ou mais Data Frame.

3)**Append:** Permite adicionar um elemento ao final de uma lista existente.

4)**New_Row:** Adicionando nova linha.

5)**Adicionando novos dados ao Df.**

6)**Exportando dados em CSV.**

7)**Exportando dados em Excel.**

8)**Exportando apenas colunas selecionadas.**

*>Seção 8*

1)**Interseção exata entre as tabelas.** (método: how = ‘inner’)

2)**Todas as informações, de ambas tabelas.** (método: how = ‘outer’)

3)**Demais colunas de uma tabela de acordo com um parâmetro.** (método: how = ‘left’ ou how= ‘right’)

# *>Seção 1*: Instalação de bibliotecas.

**1) Arrow: Biblioteca que trabalha com datas e horas. O Arrow vem com uma API inteligente, com ela é possível criar, alterar, remover e converter datas e horas**

In [ ]:
!pip install arrow

Collecting arrow
  Downloading arrow-1.2.3-py3-none-any.whl (66 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 66.4/66.4 kB 1.3 MB/s eta 0:00:00
Requirement already satisfied: python-dateutil>=2.7.0 in /usr/local/lib/python3.10/dist-packages (from arrow) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.7.0->arrow) (1.16.0)
Installing collected packages: arrow
Successfully installed arrow-1.2.3

In [ ]:
import arrow as aw

**2) Pandas: Permite que você organize, explore, represente e manipule dados com facilidade.**

In [ ]:
!pip install pandas

Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (1.5.3)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2022.7.1)
Requirement already satisfied: numpy>=1.21.0 in /usr/local/lib/python3.10/dist-packages (from pandas) (1.22.4)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

In [ ]:
import pandas as pd

**3) NumPy: Biblioteca para a linguagem Python com funções para se trabalhar com computação numérica.**

In [ ]:
!pip install numpy

Requirement already satisfied: numpy in /usr/local/lib/python3.10/dist-packages (1.22.4)

In [ ]:
import numpy

**4) OpenPyXl: Biblioteca Python de código aberto que permite manipular arquivos do Excel de forma programática.**

In [ ]:
!pip install openpyxl

Requirement already satisfied: openpyxl in /usr/local/lib/python3.10/dist-packages (3.0.10)
Requirement already satisfied: et-xmlfile in /usr/local/lib/python3.10/dist-packages (from openpyxl) (1.1.0)

In [ ]:
import openpyxl

# *>Seção 2*: Importando DataFrame, validando dados baixados.

**1) Criando Data Frame, importando dados diretamente da URL.**

In [ ]:
import pandas as pd
url = "https://gist.githubusercontent.com/tgcsantos/3bdb29eba6ce391e90df2b72205ba891/raw/22fa920e80c9fa209a9fccc8b52d74cc95d1599b/dados_imoveis.csv"
dados = pd.read_csv(url)

**Validação do download de dados, chamando Df 'dados'.**

In [ ]:
dados

,Rua,Bairro,Cidade,Metragem,Quartos,Banheiros,Vagas,Valor
0,"Avenida Itacira, 255",Planalto Paulista,São Paulo,1000,4,8,6,R$ 7.000.000
1,"Rua Aurelia Perez Alvarez, 42",Jardim dos Estados,São Paulo,496,4,4,4,R$ 3.700.000
2,Rua Alba Valdez,Jardim Reimberg,São Paulo,125,4,3,2,R$ 380.000
3,NaN,Jardim Morumbi,São Paulo,310,3,2,4,R$ 685.000
4,"Rua Tobias Barreto, 195",Mooca,São Paulo,100,3,2,2,R$ 540.000
...,...,...,...,...,...,...,...,...
10003,Rua Tapuçu,Vila Sofia,São Paulo,95,2,2,2,R$ 665.000
10004,Rua Guararema,Bosque da Saúde,São Paulo,605,8,7,5,R$ 2.300.000
10005,Rua Estero Belaco,Vila da Saúde,São Paulo,205,3,3,6,R$ 1.050.000
10006,"Rua Manuel Onha, , 514",Vila Oratório,São Paulo,185,3,2,2,R$ 2.200\n /Mês
10007,"Rua Barão de Tramandaí, 0",Vila Alpina,São Paulo,122,3,2,2,R$ 270.000

**2) Identificação das colunas/campos presentes no Df 'dados'.** (método: info)

In [ ]:
dados.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10008 entries, 0 to 10007
Data columns (total 8 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Rua        6574 non-null   object
 1   Bairro     9996 non-null   object
 2   Cidade     10008 non-null  object
 3   Metragem   10008 non-null  int64
 4   Quartos    10008 non-null  int64
 5   Banheiros  10008 non-null  int64
 6   Vagas      10008 non-null  int64
 7   Valor      10008 non-null  object
dtypes: int64(4), object(4)
memory usage: 625.6+ KB

**3) Visualização das primeiras informações.** (método: head)

In [ ]:
dados.head(5)

,Rua,Bairro,Cidade,Metragem,Quartos,Banheiros,Vagas,Valor
0,"Avenida Itacira, 255",Planalto Paulista,São Paulo,1000,4,8,6,R$ 7.000.000
1,"Rua Aurelia Perez Alvarez, 42",Jardim dos Estados,São Paulo,496,4,4,4,R$ 3.700.000
2,Rua Alba Valdez,Jardim Reimberg,São Paulo,125,4,3,2,R$ 380.000
3,NaN,Jardim Morumbi,São Paulo,310,3,2,4,R$ 685.000
4,"Rua Tobias Barreto, 195",Mooca,São Paulo,100,3,2,2,R$ 540.000

**4) Amostra de dados dentro do Df.** (método: sample)

In [ ]:
dados.sample(5)

,Rua,Bairro,Cidade,Metragem,Quartos,Banheiros,Vagas,Valor
8676,NaN,Parque Casa de Pedra,São Paulo,135,3,3,2,R$ 395.000
4576,Rua Mantiqueira,Vila Mariana,São Paulo,180,4,3,2,R$ 1.500.000
6576,Rua Berlioz,Vila Ida,São Paulo,362,4,6,5,R$ 4.500.000
1935,NaN,Morumbi,São Paulo,805,4,7,14,R$ 12.000.000
1434,Rua Doutor Queirós Guimarães,Jardim Guedala,São Paulo,412,3,3,6,R$ 2.000.000

**5) Dispocição de (Linhas X Colunas).** (método: shape)

In [ ]:
dados.shape

(10008, 8)

**6) Número de informações por coluna, visualizando o campo "Count".** (método: describe)

In [ ]:
dados.describe()

            Metragem       Quartos     Banheiros         Vagas
count   10008.000000  10008.000000  10008.000000  10008.000000
mean      442.300659      3.483114      3.879097      4.097222
std      7515.379389      1.064200      1.988467      2.824014
min        10.000000      1.000000      1.000000      1.000000
25%       173.000000      3.000000      2.000000      2.000000
50%       290.000000      3.000000      4.000000      4.000000
75%       460.250000      4.000000      5.000000      5.000000
max    750000.000000     16.000000     40.000000     50.000000

# *>Seção 3*: Tratando N.A's.

**1) Validação de N.A (informação invalida) por coluna, onde 'True' contém ao menos uma ocorrência e 'False' nenhum caso.**      
(método: isna)

In [ ]:
dados.isna().any()

Rua           True
Bairro        True
Cidade       False
Metragem     False
Quartos      False
Banheiros    False
Vagas        False
Valor        False
dtype: bool

**2) Filtrando apenas resultados com valores numéricos reconhecidos e excluindo N.A's** (método: notna)

In [ ]:
dados[dados.notna().all(axis = 1)]

,Rua,Bairro,Cidade,Metragem,Quartos,Banheiros,Vagas,Valor
0,"Avenida Itacira, 255",Planalto Paulista,São Paulo,1000,4,8,6,R$ 7.000.000
1,"Rua Aurelia Perez Alvarez, 42",Jardim dos Estados,São Paulo,496,4,4,4,R$ 3.700.000
2,Rua Alba Valdez,Jardim Reimberg,São Paulo,125,4,3,2,R$ 380.000
4,"Rua Tobias Barreto, 195",Mooca,São Paulo,100,3,2,2,R$ 540.000
5,Rua Graham Bell,Santo Amaro,São Paulo,440,4,4,6,R$ 1.980.000
...,...,...,...,...,...,...,...,...
10003,Rua Tapuçu,Vila Sofia,São Paulo,95,2,2,2,R$ 665.000
10004,Rua Guararema,Bosque da Saúde,São Paulo,605,8,7,5,R$ 2.300.000
10005,Rua Estero Belaco,Vila da Saúde,São Paulo,205,3,3,6,R$ 1.050.000
10006,"Rua Manuel Onha, , 514",Vila Oratório,São Paulo,185,3,2,2,R$ 2.200\n /Mês
10007,"Rua Barão de Tramandaí, 0",Vila Alpina,São Paulo,122,3,2,2,R$ 270.000

**3) Estabelecendo uma nova tabela sem N.A**

In [ ]:
dados_vs2 = dados[dados.notna().all(axis = 1)]

**Visualização das primeiras informações, do novo Df criado:**

In [ ]:
dados_vs2.head(7)

,Rua,Bairro,Cidade,Metragem,Quartos,Banheiros,Vagas,Valor
0,"Avenida Itacira, 255",Planalto Paulista,São Paulo,1000,4,8,6,R$ 7.000.000
1,"Rua Aurelia Perez Alvarez, 42",Jardim dos Estados,São Paulo,496,4,4,4,R$ 3.700.000
2,Rua Alba Valdez,Jardim Reimberg,São Paulo,125,4,3,2,R$ 380.000
4,"Rua Tobias Barreto, 195",Mooca,São Paulo,100,3,2,2,R$ 540.000
5,Rua Graham Bell,Santo Amaro,São Paulo,440,4,4,6,R$ 1.980.000
6,"Rua Francisco Paulo, 31",Cidade Mãe do Céu,São Paulo,145,4,4,2,R$ 850.000
7,"Rua Guilherme Valente, 150",Jardim Vergueiro,São Paulo,150,2,2,2,R$ 450.000

# *>Seção 4*: Filtrar/Selecionar dados.

**1) Busca de item por posição, trazendo todas as informações da linha.** (método: loc)

In [ ]:
dados_vs2.loc[[9975]]

,Rua,Bairro,Cidade,Metragem,Quartos,Banheiros,Vagas,Valor
9975,Rua Doutor Mário Ottobrini Costa,Cidade Dutra,São Paulo,405,5,9,4,R$ 1.800.000

**2) Filtro de uma informação.** (método: loc)

In [ ]:
dados_vs2.loc[dados_vs2['Bairro'] == 'Cidade Dutra']

,Rua,Bairro,Cidade,Metragem,Quartos,Banheiros,Vagas,Valor
7873,Rua Ubatã,Cidade Dutra,São Paulo,180,2,1,4,R$ 530.000
9903,Rua Doutor Mário Ottobrini Costa,Cidade Dutra,São Paulo,400,5,9,4,R$ 1.800.000
9939,Rua Doutor Mário Ottobrini Costa,Cidade Dutra,São Paulo,405,5,9,4,R$ 1.800.000
9975,Rua Doutor Mário Ottobrini Costa,Cidade Dutra,São Paulo,405,5,9,4,R$ 1.800.000

**3) Quantidade de vezes que uma informação esta presente em uma determinada coluna.** (método: value_counts)

In [ ]:
dados_vs2["Bairro"].value_counts()

Alto de Pinheiros       240
Jardim Guedala          213
Brooklin Paulista       172
Jardim Paulista         171
Vila Mariana            165
                       ...
Vila Independência        1
Vila Jaguara              1
Parque CíSão Pauloer      1
Mandaqui                  1
Jardim Maria Augusta      1
Name: Bairro, Length: 604, dtype: int64

# *>Seção 5*: Definindo novo Df e excluindo duplicadas.

**1) Definindo Df apenas com o filtro selecionado, bairro "Interlagos".** (método: loc)

In [ ]:
imoveis_zona_sul = dados_vs2.loc[dados_vs2['Bairro']==('Interlagos')]

In [ ]:
imoveis_zona_sul.shape

(46, 8)

In [ ]:
imoveis_zona_sul.head(7)

,Rua,Bairro,Cidade,Metragem,Quartos,Banheiros,Vagas,Valor
797,Rua Aurélio Arrobas Martins,Interlagos,São Paulo,500,4,3,3,R$ 1.900.000
851,Rua Antônio São Paulolendore,Interlagos,São Paulo,290,3,5,4,R$ 2.050.000
880,Rua Antônio São Paulolendore,Interlagos,São Paulo,295,3,5,4,R$ 2.050.000
1274,Rua Catanumi,Interlagos,São Paulo,300,3,3,4,R$ 1.050.000
1790,Rua Pérsio Pacheco e Silva,Interlagos,São Paulo,141,3,3,2,R$ 800.000
2531,Rua Antônio São Paulolendore,Interlagos,São Paulo,280,3,5,8,R$ 2.050.000
2823,Avenida Sílvio Sciumbata,Interlagos,São Paulo,793,4,4,5,R$ 2.680.000

**2) Informações que aparecem ao menos uma vez na coluna referente 'Bairro'.** (método: Unique)

In [ ]:
imoveis_zona_sul['Bairro'].unique()

array(['Interlagos'], dtype=object)

In [ ]:
len(imoveis_zona_sul['Bairro'].unique())

1

**Quantidade de linhas presentes no Df.** (método: value_counts)

In [ ]:
imoveis_zona_sul["Bairro"].value_counts()

Interlagos    46
Name: Bairro, dtype: int64

**3) Remoção de duplicadas, onde a linha excluida precisa ter os critérios informados iguais em todos os campos.**        
(método: drop_duplicates)

In [ ]:
imoveis_zona_sul_vs2 = imoveis_zona_sul.drop_duplicates(["Rua","Bairro","Cidade","Metragem","Quartos","Banheiros","Vagas", "Valor"])
imoveis_zona_sul_vs2["Bairro"].value_counts()

Interlagos    44
Name: Bairro, dtype: int64

In [ ]:
imoveis_zona_sul_vs2.shape

(44, 8)

# *>Seção 6*: Substituindo dados, excluindo e alterando tipos de objeto.

**1) Identificação do tipo das colunas (Objeto, Inteiro etc..).** (método: dtypes)

In [ ]:
imoveis_zona_sul_vs2.dtypes

Rua          object
Bairro       object
Cidade       object
Metragem      int64
Quartos       int64
Banheiros     int64
Vagas         int64
Valor        object
dtype: object

**2) Convertendo o tipo das colunas.** (método: astype)

In [ ]:
imoveis_zona_sul_vs2.astype({
    'Metragem':int,
    'Quartos': int,

})

,Rua,Bairro,Cidade,Metragem,Quartos,Banheiros,Vagas,Valor
797,Rua Aurélio Arrobas Martins,Interlagos,São Paulo,500,4,3,3,R$ 1.900.000
851,Rua Antônio São Paulolendore,Interlagos,São Paulo,290,3,5,4,R$ 2.050.000
880,Rua Antônio São Paulolendore,Interlagos,São Paulo,295,3,5,4,R$ 2.050.000
1274,Rua Catanumi,Interlagos,São Paulo,300,3,3,4,R$ 1.050.000
1790,Rua Pérsio Pacheco e Silva,Interlagos,São Paulo,141,3,3,2,R$ 800.000
2531,Rua Antônio São Paulolendore,Interlagos,São Paulo,280,3,5,8,R$ 2.050.000
2823,Avenida Sílvio Sciumbata,Interlagos,São Paulo,793,4,4,5,R$ 2.680.000
4168,Avenida Interlagos,Interlagos,São Paulo,95,3,3,2,R$ 750.000
4204,Rua Tchecoslováquia,Interlagos,São Paulo,300,3,5,4,R$ 1.390.000
4884,Rua Porto Torres,Interlagos,São Paulo,600,4,7,10,R$ 3.700.000
4979,Rua São Fortunato,Interlagos,São Paulo,320,3,3,2,R$ 1.290.000
5097,Rua Mário Barbosa Rodrigues,Interlagos,São Paulo,392,4,5,4,R$ 1.700.000
5461,Rua São Fortunato,Interlagos,São Paulo,325,3,3,2,R$ 1.290.000
6269,Praça El Salvador,Interlagos,São Paulo,420,3,4,6,R$ 1.800.000
6553,Avenida Sílvio Sciumbata,Interlagos,São Paulo,945,4,7,5,R$ 2.680.000
6984,Rua José Varela,Interlagos,São Paulo,320,4,5,4,R$ 1.300.000
6996,Rua José Varela,Interlagos,São Paulo,325,4,5,4,R$ 1.300.000
7134,Avenida Benedito Ferreira Silva,Interlagos,São Paulo,280,3,6,4,R$ 1.500.000
7205,Avenida Mahatma Gandhi,Interlagos,São Paulo,380,3,8,6,R$ 1.680.000
7244,Rua São Fortunato,Interlagos,São Paulo,371,3,5,10,R$ 1.295.000
7295,Avenida Mahatma Gandhi,Interlagos,São Paulo,385,3,8,6,R$ 1.680.000
7347,Rua Roger Chaffee,Interlagos,São Paulo,345,4,6,4,R$ 2.500.000
7499,Rua General Gaudie Ley,Interlagos,São Paulo,350,4,5,8,R$ 1.600.000
7534,Rua Roger Chaffee,Interlagos,São Paulo,350,4,6,4,R$ 2.500.000
7689,Rua General Gaudie Ley,Interlagos,São Paulo,355,4,5,8,R$ 1.600.000
7758,Rua Professor Francisco Maffei,Interlagos,São Paulo,453,3,7,6,R$ 2.120.000
7823,Avenida José Carlos Pace,Interlagos,São Paulo,320,4,5,6,R$ 1.800.000
7882,Avenida Sílvio Sciumbata,Interlagos,São Paulo,180,2,2,6,R$ 750.000
7960,Rua José Galdino da Silva,Interlagos,São Paulo,237,3,5,8,R$ 1.200.000
8020,Rua Nicolau Alayon,Interlagos,São Paulo,163,2,1,3,R$ 880.000
8266,Avenida Mahatma Gandhi,Interlagos,São Paulo,450,3,4,4,R$ 3.000.000
8271,Rua Marivaldo Fernandes,Interlagos,São Paulo,411,4,6,6,R$ 2.000.000
8594,Rua Professor Francisco Maffei,Interlagos,São Paulo,458,3,7,6,R$ 2.120.000
8647,Rua Nicolau Alayon,Interlagos,São Paulo,168,2,1,3,R$ 880.000
8658,Rua General Gaudie Ley,Interlagos,São Paulo,450,3,3,2,R$ 1.500.000
8801,Rua José Galdino da Silva,Interlagos,São Paulo,242,3,5,8,R$ 1.200.000
8906,Praça Natividade Simoes de Franca,Interlagos,São Paulo,230,4,4,3,R$ 1.100.000
9038,Avenida Mahatma Gandhi,Interlagos,São Paulo,455,3,4,4,R$ 3.000.000
9044,Rua Marivaldo Fernandes,Interlagos,São Paulo,416,4,6,6,R$ 2.000.000
9160,Avenida Sílvio Sciumbata,Interlagos,São Paulo,253,3,4,6,R$ 1.100.000
9334,Rua Francisco José Oliveira,Interlagos,São Paulo,400,4,1,4,R$ 1.650.000
9814,Rua Edward White,Interlagos,São Paulo,370,4,1,4,R$ 2.000.000
9895,Avenida Sílvio Sciumbata,Interlagos,São Paulo,793,4,7,5,R$ 2.680.000
9897,"Rua General Gaudie Ley, 218",Interlagos,São Paulo,430,4,3,6,R$ 1.500.000

**3) Substituindo dados de uma coluna:**

Fonte: https://pt.stackoverflow.com/questions/491195/em-python-como-remover-caracteres-espec%C3%ADficos-de-todos-os-registros-de-apenas-u

**3.1) Substitui objetos.** (método: RePlace)

In [ ]:
imoveis_zona_sul_vs2['Valor'].replace('R$','')

797     R$ 1.900.000
851     R$ 2.050.000
880     R$ 2.050.000
1274    R$ 1.050.000
1790      R$ 800.000
2531    R$ 2.050.000
2823    R$ 2.680.000
4168      R$ 750.000
4204    R$ 1.390.000
4884    R$ 3.700.000
4979    R$ 1.290.000
5097    R$ 1.700.000
5461    R$ 1.290.000
6269    R$ 1.800.000
6553    R$ 2.680.000
6984    R$ 1.300.000
6996    R$ 1.300.000
7134    R$ 1.500.000
7205    R$ 1.680.000
7244    R$ 1.295.000
7295    R$ 1.680.000
7347    R$ 2.500.000
7499    R$ 1.600.000
7534    R$ 2.500.000
7689    R$ 1.600.000
7758    R$ 2.120.000
7823    R$ 1.800.000
7882      R$ 750.000
7960    R$ 1.200.000
8020      R$ 880.000
8266    R$ 3.000.000
8271    R$ 2.000.000
8594    R$ 2.120.000
8647      R$ 880.000
8658    R$ 1.500.000
8801    R$ 1.200.000
8906    R$ 1.100.000
9038    R$ 3.000.000
9044    R$ 2.000.000
9160    R$ 1.100.000
9334    R$ 1.650.000
9814    R$ 2.000.000
9895    R$ 2.680.000
9897    R$ 1.500.000
Name: Valor, dtype: object

**3.2) Exclui objetos.** (método: RsTrip)

In [ ]:
imoveis_zona_sul_vs2['Valor'].str.rstrip('R$')

797     R$ 1.900.000
851     R$ 2.050.000
880     R$ 2.050.000
1274    R$ 1.050.000
1790      R$ 800.000
2531    R$ 2.050.000
2823    R$ 2.680.000
4168      R$ 750.000
4204    R$ 1.390.000
4884    R$ 3.700.000
4979    R$ 1.290.000
5097    R$ 1.700.000
5461    R$ 1.290.000
6269    R$ 1.800.000
6553    R$ 2.680.000
6984    R$ 1.300.000
6996    R$ 1.300.000
7134    R$ 1.500.000
7205    R$ 1.680.000
7244    R$ 1.295.000
7295    R$ 1.680.000
7347    R$ 2.500.000
7499    R$ 1.600.000
7534    R$ 2.500.000
7689    R$ 1.600.000
7758    R$ 2.120.000
7823    R$ 1.800.000
7882      R$ 750.000
7960    R$ 1.200.000
8020      R$ 880.000
8266    R$ 3.000.000
8271    R$ 2.000.000
8594    R$ 2.120.000
8647      R$ 880.000
8658    R$ 1.500.000
8801    R$ 1.200.000
8906    R$ 1.100.000
9038    R$ 3.000.000
9044    R$ 2.000.000
9160    R$ 1.100.000
9334    R$ 1.650.000
9814    R$ 2.000.000
9895    R$ 2.680.000
9897    R$ 1.500.000
Name: Valor, dtype: object

**4) Excluindo linhas.** (método: drop)

In [ ]:
dados_vs2.head(3)

,Rua,Bairro,Cidade,Metragem,Quartos,Banheiros,Vagas,Valor
0,"Avenida Itacira, 255",Planalto Paulista,São Paulo,1000,4,8,6,R$ 7.000.000
1,"Rua Aurelia Perez Alvarez, 42",Jardim dos Estados,São Paulo,496,4,4,4,R$ 3.700.000
2,Rua Alba Valdez,Jardim Reimberg,São Paulo,125,4,3,2,R$ 380.000

In [ ]:
dados_vs2.drop(0)

,Rua,Bairro,Cidade,Metragem,Quartos,Banheiros,Vagas,Valor
1,"Rua Aurelia Perez Alvarez, 42",Jardim dos Estados,São Paulo,496,4,4,4,R$ 3.700.000
2,Rua Alba Valdez,Jardim Reimberg,São Paulo,125,4,3,2,R$ 380.000
4,"Rua Tobias Barreto, 195",Mooca,São Paulo,100,3,2,2,R$ 540.000
5,Rua Graham Bell,Santo Amaro,São Paulo,440,4,4,6,R$ 1.980.000
6,"Rua Francisco Paulo, 31",Cidade Mãe do Céu,São Paulo,145,4,4,2,R$ 850.000
...,...,...,...,...,...,...,...,...
10003,Rua Tapuçu,Vila Sofia,São Paulo,95,2,2,2,R$ 665.000
10004,Rua Guararema,Bosque da Saúde,São Paulo,605,8,7,5,R$ 2.300.000
10005,Rua Estero Belaco,Vila da Saúde,São Paulo,205,3,3,6,R$ 1.050.000
10006,"Rua Manuel Onha, , 514",Vila Oratório,São Paulo,185,3,2,2,R$ 2.200\n /Mês
10007,"Rua Barão de Tramandaí, 0",Vila Alpina,São Paulo,122,3,2,2,R$ 270.000

In [ ]:
dados_vs3 = dados_vs2.drop(0)

In [ ]:
dados_vs3.head(3)

,Rua,Bairro,Cidade,Metragem,Quartos,Banheiros,Vagas,Valor
1,"Rua Aurelia Perez Alvarez, 42",Jardim dos Estados,São Paulo,496,4,4,4,R$ 3.700.000
2,Rua Alba Valdez,Jardim Reimberg,São Paulo,125,4,3,2,R$ 380.000
4,"Rua Tobias Barreto, 195",Mooca,São Paulo,100,3,2,2,R$ 540.000

# *>Seção 7*: Importando e exportando dados.

> Data Frame utilizado: Imóveis zona sul.

**1) Unir cada string da lista, colocando uma informação entre elas.** (método: Join)

In [ ]:
list = ['1','2','3','4']

s = " "
s = s.join(list)
print(s)

1 2 3 4

**2)  Combinar dois ou mais Data Frame.** (método: Concat)

In [ ]:
import pandas as pd

df1 = pd.DataFrame({'A': ['A0', 'A1', 'A2', 'A3'],
                    'B': ['B0', 'B1', 'B2', 'B3'],
                    'C': ['C0', 'C1', 'C2', 'C3'],
                    'D': ['D0', 'D1', 'D2', 'D3']})

df2 = pd.DataFrame({'A': ['A4', 'A5', 'A6', 'A7'],
                    'B': ['B4', 'B5', 'B6', 'B7'],
                    'C': ['C4', 'C5', 'C6', 'C7'],
                    'D': ['D4', 'D5', 'D6', 'D7']})

result = pd.concat([df1, df2])
print(result)

    A   B   C   D
0  A0  B0  C0  D0
1  A1  B1  C1  D1
2  A2  B2  C2  D2
3  A3  B3  C3  D3
0  A4  B4  C4  D4
1  A5  B5  C5  D5
2  A6  B6  C6  D6
3  A7  B7  C7  D7

**3) Permite adicionar um elemento ao final de uma lista existente.** (método: Append)

In [ ]:
import pandas as pd

df = pd.DataFrame({'A': ['A0', 'A1', 'A2', 'A3'],
                   'B': ['B0', 'B1', 'B2', 'B3'],
                   'C': ['C0', 'C1', 'C2', 'C3'],
                   'D': ['D0', 'D1', 'D2', 'D3']})

new_row = {'A': 'A4', 'B': 'B4', 'C': 'C4', 'D': 'D4'}
result = df.append(new_row, ignore_index=True)
print(result)

    A   B   C   D
0  A0  B0  C0  D0
1  A1  B1  C1  D1
2  A2  B2  C2  D2
3  A3  B3  C3  D3
4  A4  B4  C4  D4

<ipython-input-73-8994575eadfe>:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  result = df.append(new_row, ignore_index=True)

 **Importando Dados para o Df Imóveis Zona Sul vs2**

> Estrutura atual:

In [ ]:
imoveis_zona_sul_vs2.shape

(44, 8)

**4) Adicionando nova linha ao Df.** (método: New_Row)

In [ ]:
new_row = ["Rua Mediterrâneo", "Interlagos", "São Paulo", 500, 3,2,1,"R$500.000"]

In [ ]:
imoveis_zona_sul_vs2.loc[len(imoveis_zona_sul_vs2)] = new_row

<ipython-input-76-f4e83c85289d>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  imoveis_zona_sul_vs2.loc[len(imoveis_zona_sul_vs2)] = new_row

> Saída:

In [ ]:
imoveis_zona_sul_vs2.shape

(45, 8)

In [ ]:
imoveis_zona_sul_vs2.head(2)

,Rua,Bairro,Cidade,Metragem,Quartos,Banheiros,Vagas,Valor
797,Rua Aurélio Arrobas Martins,Interlagos,São Paulo,500,4,3,3,R$ 1.900.000
851,Rua Antônio São Paulolendore,Interlagos,São Paulo,290,3,5,4,R$ 2.050.000

**5) Adicionando novos dados ao Df.**

In [ ]:
import pandas as pd
new_df = pd.read_csv('/content/drive/MyDrive/Dados_Drive/novos_dados.txt', delimiter=';', encoding='latin-1')

In [ ]:
new_df.shape

(5, 8)

In [ ]:
new_df.head(2)

,Rua,Bairro,Cidade,Metragem,Quartos,Banheiros,Vagas,Valor
0,Rua Leme,Interlagos,São Paulo,550,3,2,1,R$ 700.000
1,Rua Açai,Interlagos,São Paulo,400,3,2,1,R$ 500.000

In [ ]:
imoveis_zona_sul_vs3 = pd.concat([imoveis_zona_sul_vs2, new_df])

In [ ]:
imoveis_zona_sul_vs3.shape

(50, 8)

In [ ]:
imoveis_zona_sul_vs3.sample(5)

,Rua,Bairro,Cidade,Metragem,Quartos,Banheiros,Vagas,Valor
7689,Rua General Gaudie Ley,Interlagos,São Paulo,355,4,5,8,R$ 1.600.000
4168,Avenida Interlagos,Interlagos,São Paulo,95,3,3,2,R$ 750.000
7534,Rua Roger Chaffee,Interlagos,São Paulo,350,4,6,4,R$ 2.500.000
9160,Avenida Sílvio Sciumbata,Interlagos,São Paulo,253,3,4,6,R$ 1.100.000
7295,Avenida Mahatma Gandhi,Interlagos,São Paulo,385,3,8,6,R$ 1.680.000

**6) Exportando dados em CSV.**

In [ ]:
imoveis_zona_sul_vs3.to_csv('/content/drive/MyDrive/Dados_Drive/imoveis_zona_sul_vs3.csv', index=False)

**7) Exportando dados em Excel.**

In [ ]:
imoveis_zona_sul_vs3.to_excel('/content/drive/MyDrive/Dados_Drive/imoveis_zona_sul_vs3.xlsx', index=False)

**8) Exportando apenas colunas selecionadas: 'Rua' e 'Valor'.**

In [ ]:
imoveis_zona_sul_vs3.to_csv('/content/drive/MyDrive/Dados_Drive/imoveis_zona_sul_colunas.csv', columns = ['Rua','Valor'])

# *>Seção 8*: Teoria dos conjuntos, tipos de combinação.

In [ ]:
import pandas as pd

In [ ]:
tabela_1 = pd.DataFrame({
'Nome':['João', 'João', 'Pedro' , 'Caio'],
'Telefone': ['962055302', '963054522', '963057866', '965057814'],
'Carros': ['azul', 'preto', 'verde' , 'amarelo']})

print(tabela_1)

    Nome   Telefone   Carros
0   João  962055302     azul
1   João  963054522    preto
2  Pedro  963057866    verde
3   Caio  965057814  amarelo

In [ ]:
tabela_2 = pd.DataFrame({
'Nome':['João', 'Marcelo', 'Thiago' , 'Caio'],
'Irmãos': ['1', '3', '2' , '2']})

print(tabela_2)

      Nome Irmãos
0     João      1
1  Marcelo      3
2   Thiago      2
3     Caio      2

![image.png]()

**1) Interseção exata entre as tabelas.** (método: how = ‘inner’)

Somente os valores na coluna “Nome” que existem em ambas tabelas aparecem no nosso resultado.

In [ ]:
m = pd.merge(tabela_1, tabela_2, how = 'inner', on = 'Nome')

In [ ]:
print(m)

   Nome   Telefone   Carros Irmãos
0  João  962055302     azul      1
1  João  963054522    preto      1
2  Caio  965057814  amarelo      2

**2) Todas as informações, de ambas tabelas.** (método: how = ‘outer’)

Resultado para os campos que a coluna 'Nome' não tem informação, permanece em branco.

In [ ]:
m = pd.merge(tabela_1, tabela_2, how = 'outer')

In [ ]:
print(m)

      Nome   Telefone   Carros Irmãos
0     João  962055302     azul      1
1     João  963054522    preto      1
2    Pedro  963057866    verde    NaN
3     Caio  965057814  amarelo      2
4  Marcelo        NaN      NaN      3
5   Thiago        NaN      NaN      2

**3) Demais colunas de uma tabela de acordo com um parâmetro.** (método: how = ‘left’ ou how= ‘right’)

Somente ‘Nomes’ que existam na tabela_1 serão trazidos da tabela_2.
Neste exemplo deixaremos a tabela_1 à esquerda e faremos um merge ‘left’.

In [ ]:
m = pd.merge(tabela_2, tabela_1, how = 'left', on = 'Nome')

In [ ]:
print(m)

      Nome Irmãos   Telefone   Carros
0     João      1  962055302     azul
1     João      1  963054522    preto
2  Marcelo      3        NaN      NaN
3   Thiago      2        NaN      NaN
4     Caio      2  965057814  amarelo